<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>table</title>

    <style>
    .table {
        background-color: white;
        border: 4px solid black;
    }

    th {
        color: plum;
    }

    </style>

</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Users</h1>

            <table class="table">
                <tr>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>FULL NAME</th>
                </tr>
                <!-- create forloop  -->
                {%for user in user_info%}
                <tr>
                    <!-- use the key user and then grab first name and last name out of dictionary-->
                    <td>{{user['first_name']}}</td>
                    <td>{{user['last_name']}}</td>
                    <td>{{user['first_name']}} {{user['last_name']}}</td>
                </tr>
                {%endfor%}
            
            </table>

        </div>
    </div>

</body>

</html>