* {
    margin: 0 auto;
    padding: 0;
}

.header {
    text-align: left;
}

.container {
    width: 960px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 15%, rgba(212,212,212,1) 31%, rgba(255,255,255,1) 100%);
}

.header h1,
.header img {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    color: rgb(71,71,71);

}

.header img {
    width: 100px;
}

.header span {
    color: #5082AB;
}

.header h2 {
    background: #5082AB;
    color: white;
    height: 40px;
    padding-top: 15px;
    padding-left: 10px;
    margin-top: -20px;
}

/* Left side of page with buttons and add */

.left {
    display: inline-block;
    width: 20%;
    text-align: left;
}

.left h4,
.left h5 {
    margin: 10px 0;
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.button1 {
    background-color: rgb(69,129,179);
    color: white;
    border-radius: 5px;
    width: 160px;
    height: 35px;
    margin: 5px 0 5px 3px;
}

.button2 {
    background-color: rgb(239,130,0);
    color: white;
    border-radius: 5px;
    width: 160px;
    height: 35px;
    margin: 0 0 0 3px;

}

.hero {
    border-bottom: 2px solid lightgray;
    padding-bottom: 20px;
    width: 90%;
}

.ninjad {
    background-image: url("images/ad_background.png");
    margin-top: 20px;
    width: 90%;

}

.ninjad img {
    display: block;
    width: 50%;
}

.ninjad h2 {
    color: white;
    padding: 10px;
    text-align: center;

}

.ninjad button {
    width: 80%;
    height: 20px;
    margin: 10px 5px 10px 18.5px;
    background-color: lightseagreen;
    border-color: lightseagreen;
    color: white;
    border-radius: 5px;
    
}

/* right side */

.right {
    display: inline-block;
    vertical-align: top;
    width: 78%;
}
.number {
    margin-left: 70%;
}


.rightheader img {
    width: 20px;
    display: inline-block;
}

.rightheader h4 {
    display: inline-block;
    margin-top: 10px;
}

.number img {
    width: 30px;
    vertical-align: top;
    padding-top: 15px;
    margin-top: -25px;
}

.number > div {
    display: inline-block;
    margin-top: -25px;
}

/* right side middle */

.clientserver {
    border-top: 2px solid lightslategrey;
    margin-left: 20px;
}

.clientserver img {
    width: 300px;
    margin-left: 25%;
    padding: 20px;
}

.big3 {
    border: 4px solid blue;
    padding: 10px;
    margin-top: 10px;
}

.big3 img {
    width: 100px;
    margin-left: 1%;
    display: inline-block
}

.big3 h2, .big3 p {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    margin-right: -500px;

}

.big3 p{
    margin-top: 40px;
}
