.red{
    width: 100px;
    height: 100px;
    background-color: red;
    display: inline-block;
    border: 1px solid white;
}

.black {
    width: 100px;
    height: 100px;
    background-color: black;
    display: inline-block;
    border: 1px solid white;
}

table {
    height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
}

h1 {
    text-align: center;
}