<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Rock Paper Scissors</title>
</head>
<body>


    
    <div class="form-group">
        <!-- /results tells the submit button where to route, then we specify that it is method post -->
        <form action="/results" method="POST">
        <label for="exampleFormControlSelect2">Rock Paper Scissors</label>
        <select name="selection" multiple class="form-control" id="exampleFormControlSelect2">
            
          <option value="rock">Rock</option>
          <option value = "paper">Paper</option>
          <option value="scissors">Scissors</option>
            
        </select>

        <button type="submit">Submit</button>
        <!-- type submit will allow it to submit to the server -->
      </div>
    </form>

</body>
</html>