<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Guess</title>
    <style>
        * {
            padding: 10px;
        }

        button {
            text-align: center;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1>Welcome to the Great Number Game</h1>
                <h3>I am thinking of a number between 1 and 100</h3>
                <p>Take a guess!</p>
                <div class="container">
                    {%if guess < num:%}
                    <div class="alert alert-warning" role="alert">
                        <p>Too Low</p>
                    </div>
                    {%endif%}
                    {%if guess > num:%}
                    <div class="alert alert-danger" role="alert">
                        <p>Too High</p>
                    </div>
                    {%endif%}
                    {%if guess == num:%}
                    <div class="alert alert-success" role="alert">
                        <p>You got it!</p>
                    </div>
                    {%endif%}
                    <span class="badge badge-info">
                        <p>Tries: {{count}}</p>
                    </span>

                </div>
                <form action="/guess" method='POST'>
                    <input name='guess' type="text">
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
                {%if count == 5%}
                <form action="/">
                    <h1>You Loose. Click Reset.</h1>
                    <button type="submit" class="btn btn-outline-success">Reset and try again</button>
                </form>
                {%endif%}
                <!-- remember type submit not button -->


            </div>
        </div>

    </div>
</body>

</html>